-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: ark_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts`
--

DROP TABLE IF EXISTS `accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `member_id` varchar(20) DEFAULT NULL,
  `full_name` varchar(1000) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('student','admin') NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `studentID` (`member_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts`
--

LOCK TABLES `accounts` WRITE;
/*!40000 ALTER TABLE `accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `college_programs`
--

DROP TABLE IF EXISTS `college_programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `college_programs` (
  `program_id` int NOT NULL AUTO_INCREMENT,
  `program_code` varchar(10) NOT NULL,
  `program_name` varchar(100) NOT NULL,
  PRIMARY KEY (`program_id`),
  UNIQUE KEY `program_code` (`program_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `college_programs`
--

LOCK TABLES `college_programs` WRITE;
/*!40000 ALTER TABLE `college_programs` DISABLE KEYS */;
/*!40000 ALTER TABLE `college_programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shs_strands`
--

DROP TABLE IF EXISTS `shs_strands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shs_strands` (
  `strand_id` int NOT NULL AUTO_INCREMENT,
  `strand_code` varchar(10) NOT NULL,
  `strand_name` varchar(100) NOT NULL,
  PRIMARY KEY (`strand_id`),
  UNIQUE KEY `strand_code` (`strand_code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shs_strands`
--

LOCK TABLES `shs_strands` WRITE;
/*!40000 ALTER TABLE `shs_strands` DISABLE KEYS */;
INSERT INTO `shs_strands` VALUES (1,'STEM','Science, Technology, Engineering, and Mathematics'),(2,'ABM','Accountancy, Business, and Management'),(3,'HUMSS','Humanities and Social Sciences'),(4,'TVL','Technical-Vocational-Livelihood');
/*!40000 ALTER TABLE `shs_strands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_infos`
--

DROP TABLE IF EXISTS `student_infos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_infos` (
  `user_id` int NOT NULL,
  `education_level` enum('elementary','junior_high','senior_high','college') NOT NULL,
  `year_level` tinyint NOT NULL,
  `section` varchar(50) NOT NULL,
  `strand_id` int DEFAULT NULL,
  `program_id` int DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  KEY `strand_id` (`strand_id`),
  KEY `program_id` (`program_id`),
  CONSTRAINT `student_infos_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `accounts` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `student_infos_ibfk_2` FOREIGN KEY (`strand_id`) REFERENCES `shs_strands` (`strand_id`),
  CONSTRAINT `student_infos_ibfk_3` FOREIGN KEY (`program_id`) REFERENCES `college_programs` (`program_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_infos`
--

LOCK TABLES `student_infos` WRITE;
/*!40000 ALTER TABLE `student_infos` DISABLE KEYS */;
INSERT INTO `student_infos` VALUES (1,'senior_high',12,'D',4,NULL),(3,'senior_high',12,'D',4,NULL),(4,'senior_high',12,'A',4,NULL),(6,'senior_high',12,'E',1,NULL),(7,'junior_high',9,'Encourager',NULL,NULL);
/*!40000 ALTER TABLE `student_infos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-21 19:56:47
